.container {
  padding: 16px 12px;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.icon {
  margin-right: 0.5rem;
  vertical-align: middle;
}
