.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  margin-top: 24px;
}
